*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: rgb(233, 240, 237);
}


nav{
    background-color: #b1cdd2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#form{
    width:25%;
    margin: auto;
    border-right:1px solid #9afcfd
    
}
